<head>

    <link href="~/Content/css/Footer.css" rel="stylesheet">

</head>
<footer id="footer">
    <div class="footer-static">
        <div class="container">
            <div class="container-inner">
                <div class="row hidden-xs">
                    <div class="f-col f-col-1 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                        <div class="footer-static-title">
                            <h3>DỊCH VỤ</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li class="first"><a href="">Điều khoản sử dụng</a></li>
                                <li><a href="">Chính sách bảo mật</a></li>
                                <li><a href="">Giới thiệu về nhà sách</a></li>
                                <li class="last"><a href="">Hệ thống nhà sách</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-col f-col-5 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                        <div class="footer-static-title">
                            <h3>Hỗ trợ</h3>
                        </div>
                        <div class="footer-static-content ">
                            <ul>
                                <li class="first"><a href="">Đổi - trả - hoàn tiền</a></li>
                                <li><a href="">Chính sách khách sỉ</a></li>
                                <li><a href="">Phương thức vận chuyển</a></li>
                                <li class="last"><a href="">Phương thức thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-col f-col-6 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                        <div class="footer-static-title">
                            <h3>Tài khoản của tôi</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li class="first"><a href="" onclick="return false;">Đăng nhập - Đăng kí</a></li>
                                <li><a href="">Thay đổi địa chỉ khách hàng</a></li>
                                <li><a href="">Chi tiết tài khoản</a></li>
                                <li class="last"><a href="">Lịch sử mua hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-col f-col-7 col-sm-6 col-md-3 col-sms-6 col-smb-12">
                        <div class="footer-static-title">
                            <h3>Liên hệ</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li class="first"><em class="fa fa-map-marker">&nbsp;</em><span>Địa Chỉ:</span>Đại học CNTT - ĐH QG TP.HCM</li>
                                <li><em class="fa fa-envelope">&nbsp;</em><span>Email:</span>info@uit.edu.vn</li>
                                <li class="last"><em class="fa fa-phone">&nbsp;</em><span>Phone:</span>(028) 372 52002</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 footer-static-title">
                        <div class="col-sm-4 col-md-4">
                            <div class="col-sm-12 col-md-12 col-xs-12 icon-footer" style="margin-bottom: 8px;">
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="font-size:13px;">
                                Đại học CNTT - ĐH QG TP.HCM
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="font-size:13px;">
                                Công Ty Cổ Phần Phát Hành Sách TP HCM 
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="font-size:13px;">
                                Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp.Hồ Chí Minh.
                                <div class="col-sm-12 col-md-12 col-xs-12 address-footer" style="margin-top: 5px;">

                                </div>

                            </div>
                        <div class="col-sm-4 col-md-4 col-xs-12" style="padding: 0px;">
                            <div class="col-sm-12 col-md-12 col-xs-12" align="center" style="font-size:14.5px; margin-bottom:20px; margin-top:10px; padding: 0px;">

                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12" style="font-size:14.5px">
                                <div class="col-sm-6 col-md-6 col-xs-6" style="text-align: right;">

                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-6">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4  hidden-xs">
                            <div class="col-sm-12 col-md-12 col-xs-12" align="center" style="padding:5px;text-align: right;">

                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12" align="center" style="padding:5px;text-align: right;">

                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12" align="center" style="padding:5px;text-align: right;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
@*<footer id="footer">
        <!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subscribe">
                            <div>
                                <h2>THEO DÕI SHOP</h2>
                                <p>Chúng tôi sẽ gửi thông tin về các sản phẩm và khuyến mãi mới qua email</p>
                            </div>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Nhập email bạn hay dùng" />
                                <button type="submit" class="subscribe-button">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="single-widget">
                            <h2>HỖ TRỢ KHÁCH HÀNG</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Các câu hỏi thường gặp</a></li>
                                <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
                                <li><a href="#">Hướng dẫn đặt hàng</a></li>
                                <li><a href="#">Phương thức vận chuyển</a></li>
                                <li><a href="#">Chính sách đổi trả</a></li>
                                <li><a href="#">Hướng dẫn mua trả góp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-widget">
                            <h2>HỒ CHÍ MINH</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Chi nhánh Quận 1</a></li>
                                <li><a href="#">Chi nhánh Quận 5</a></li>
                                <li><a href="#">Chi nhánh Bình Thạnh</a></li>
                                <li><a href="#">Chi nhánh Thủ Đức</a></li>
                                <li><a href="#">Chi nhánh Quận 3</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-widget">
                            <h2>KHÁC</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Điều khoản sử dụng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Chính sách hoàn tiền</a></li>
                                <li><a href="#">Thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-widget">
                            <h2>VỀ CHÚNG TÔI</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/Contact/">Thông tin công ty</a></li>
                                <li><a href="/Contact/">Liên kết</a></li>
                                <li><a href="/Contact/">Bản quyền</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->*@

